.me-outer {
  background: url(../images/Hiram.jpg) no-repeat center center;
  width: 485px;
  height: 440px;
  text-align: center;
  margin: 0px auto;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
  position: relative;
}
.me-inner {
  margin: 0px;
}